{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emergency Alert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="logo">🚨 AlertSys  <i>Welcome {{ user.username }}</i></div>

    <div class="hamburger" onclick="toggleMenu()">
        ☰
    </div>

    <ul class="nav-links" id="navLinks">
        
        <li><a href="#">Home</a></li>
        <li><a href="/map/">Live Map</a></li>
        <button onclick="enableEmergencyAlerts()" style="background-color: black; color: white;">
             Enable Emergency Alerts
        </button>
        <li class="notification" onclick="window.location.href='/notifications/'">
            Notifications
            {% if unread_count > 0 %}
                <span class="badge">{{ unread_count }}</span>
            {% endif %}
        </li>

        {% if user.is_authenticated %}
            
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </ul>
</nav>

<!-- ================= MAIN CONTENT ================= -->
<div class="container">

    <h1 class="title">🚨 Emergency Alert System</h1>
    <p class="subtitle">One tap can save a life</p>

    <div class="status" id="status">
        📍 Location: Not Shared
    </div>

    <button class="alert-btn" onclick="openAlertForm()">
        🚨 SEND EMERGENCY ALERT
    </button>

    <p class="note">
        This will notify nearby police stations and people on this road.
    </p>

</div>

<!-- ================= ALERT FORM MODAL ================= -->
<div class="modal" id="alertModal">
    <div class="modal-content">
        <span class="close" onclick="closeAlertForm()">×</span>

        <h2>🚨 Emergency Details</h2>

        <form id="alertForm" enctype="multipart/form-data">
            <label>Type of Emergency</label>
            <select required>
                <option value="">Select</option>
                <option>Accident</option>
                <option>Fire</option>
                <option>Medical</option>
                <option>Crime</option>
                <option>Other</option>
            </select>

            <label>Description</label>
            <textarea placeholder="Describe the situation..." ></textarea>

            <label>Upload Images / Videos</label>
            <input type="file" accept="image/*,video/*" multiple>

            <button type="submit" class="submit-btn">
                🚨 Submit Alert
            </button>
        </form>
    </div>
</div>
<script>
    window.VAPID_PUBLIC_KEY = "{{ VAPID_PUBLIC_KEY }}";
</script>

<script src="{% static 'js/index.js' %}"></script>
</body>
</html>
